@include b(portfolio) {
  @include container();

  @include e(main) {
    padding: 0;
    overflow: hidden;
  }
  @include e(aside) {
    padding: 30px 0 0;
    margin-left: 20px;
    overflow: hidden;
  }

  @include e(module) {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;

    & + .dc-portfolio__module {
      border-top: 1px solid #dddddd;
    }
  }

  @include e(module-title) {
    position: relative;
    font-size: 28px;
    color: $--color-heading;
    margin-bottom: 25px;
    font-family: $--font-heading;
    span {
      position: relative;
      display: inline-block;
      padding-bottom: 10px;
      &:before {
        position: absolute;
        left: 0;
        bottom: 0;
        content: " ";
        display: block;
        width: 100%;
        height: 2px;
        background: $--color-primary;
      }
    }
  }

  @include e(card) {
    position: relative;
    width: 100%;
    height: auto;
    overflow-x: auto;
  }

  @include e(table) {
    min-width: 780px;
    th,
    td {
      padding: 10px 5px;
    }
  }

  @include e(table-bottom) {
   td {
    //  font-family:
     border-top: 1px solid $--color-black;
     color: $--color-black;
     font-weight: bold;
   }
  }

  @include e(row) {
    margin-left: -5px;
    margin-right: -5px;
  }

  @include e(col) {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  @include e(project-item) {
    margin-bottom: 16px;
  }

  @include e(chart) {
    height: 200px;
  }
}

@include res(xs) {
  @include b(portfolio) {
    @include e(aside) {
      display: none;
    }
  }
}